#border1{
	border-style: solid;
}
#border2{
	border-style: dotted;
}
#border3{
	border-style: dashed;
}
#border4{
	border-style: double;
}
#border5{
	border-style: groove;
}
#border6{
	border-style: inset;
}
#border7{
	border-style: outset;
}
#border8{
	border-style: ridge;
}
