h2{
	text-align: justify;
}
h3{
	text-align: justify;
}
.gambar1{
	width: 170px;
	height: 100;
	float: left;
	margin-left: 10px;
}
.gambar2{
	width: 120px;
	height: 100;
	float: right;
	margin-right: 10px;
}
.gambar3{
	width: 60px;
	height: 100;
	float: left;
	margin-left: 10px;
}